body {
    padding: 0;
    margin: 0;
    background-color: black;
    max-width: 100%;
    display: flex;
}
.Login {
    margin: 0 auto;
    margin-top: 60px ;
    background-color: #121214;
    border-radius: 8px;
}
div.KenzieFlix {
    display: flex;
    justify-content: center;
}
div.KenzieFlix img{
    width: 229px;
    height: 68px;
    margin: 30px 0px 30px 0px;
}
div.select {
    display: flex;
    justify-content: center;
}
.Login h1 {
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    margin-bottom: 50px;
}
.Login figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
}
div.efeito {
    width: 700px;
    margin: 0 auto;
}
.perfis div {
    width: 160px;
    padding: 0%;
    margin: 0px;
    overflow: hidden;
    margin-right: 15px;
}
.perfis div img {
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 8px;
}

div.abc {
    display: flex;
    justify-content: center;
}

div.users {
    display: flex;
    width: 160px;
    justify-content: center;
    margin-right: 20px;
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #9C9C9C;
}
.Login

div.button{
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 55px;
    margin: 100px 0px 80px 0px
}

.Login div button {
    padding: 15px 55px 15px 55px;
    border-radius: 8px;
    color: white;
    border: 3px solid white;
    background-color: #121214;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.Login div button:hover {
    cursor: pointer;
    background-color: white;
    color: #121214;
}
.efeito .size:hover img{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 8px;
}
.efeito .users:hover h3{
    cursor: pointer;
    color: white;
}